# Configuration for the frontend service
server {
    listen 443 ssl;
    server_name qa-centurion.scpng.crossnode.it;
    ssl_certificate /etc/letsencrypt/live/be-qa-centurion.scpng.crossnode.it/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/be-qa-centurion.scpng.crossnode.it/privkey.pem;

    root /usr/local/centurion-fe;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    error_page 404 /404.html;
    location = /404.html {
        internal;
    }
}

# Configuration for the backend service
server {
    listen 443 ssl;
    server_name be-qa-centurion.scpng.crossnode.it;
    ssl_certificate /etc/letsencrypt/live/be-qa-centurion.scpng.crossnode.it/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/be-qa-centurion.scpng.crossnode.it/privkey.pem;

    location / {
        proxy_pass http://localhost:9999;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Redirect HTTP to HTTPS for both domains
server {
    listen 80;
    server_name qa-centurion.scpng.crossnode.it be-qa-centurion.scpng.crossnode.it;
    return 301 https://$host$request_uri;
}
