.container {
    display: flex;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100vh;
    position: relative;
}

.comingSoonContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #666;
}